// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-header {
    margin: 0 auto;
    text-align: center;
    padding: 2% 2% 6% 2%;
}

.code-auth-form {
    margin: 0 auto;
    width: 50vw;
    height: 60vh;
    display: flex;
    flex-direction: column;

    // temporary
    border: 1px solid red;
}

.auth-form-input {
    justify-content: center;
    width: 10vw;
    height: 2.5vh;
    margin: 0 auto;
}

